apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: traefik
  namespace: argocd
spec:
  project: default
  source:
    repoURL: https://traefik.github.io/charts
    chart: traefik
    targetRevision: 37.4.0
    helm:
      valuesObject:
        providers:
          kubernetesCRD:
            enabled: true
            allowCrossNamespace: true
          kubernetesGateway:
            enabled: true
        gateway:
          enabled: true
          name: traefik-gateway
          listeners:
            web:
              port: 8000
              protocol: HTTP
              namespacePolicy:
                from: All
        ports:
          web:
            port: 8000
            expose:
              default: true
            exposedPort: 80
            protocol: TCP
          websecure:
            port: 8443
            expose:
              default: true
            exposedPort: 443
            protocol: TCP
        service:
          enabled: true
          type: LoadBalancer
        ingressRoute:
          dashboard:
            enabled: true
            matchRule: Host(`traefik.local`) && PathPrefix(`/dashboard`) || Host(`traefik.local`) && PathPrefix(`/api`)
            entryPoints:
              - web
  destination:
    server: https://kubernetes.default.svc
    namespace: traefik-system
  syncPolicy:
    automated:
      prune: true
      selfHeal: true
    syncOptions:
      - CreateNamespace=true
